<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <!-- Open Play Store subscriptions page -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
        <!-- Share tuning files to other apps -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>


    <!-- removes BOOT COMPLETED permission, added by WorkManager library -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        tools:node="remove" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".TuningApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:configChanges="screenSize"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher" />

        <activity-alias
            android:name=".MainActivity"
            android:exported="true"
            android:targetActivity=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.files.FilesActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:parentActivityName=".ui.main.MainActivity">
            <!--
                 Capture content by MIME type, which is how Gmail broadcasts
                 attachment open requests.  pathPattern and file extensions
                 are ignored, so the MIME type *MUST* be explicit, otherwise
                 we will match absolutely every file opened.
            -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!--
                 Capture file open requests (pathPattern is honoured) where no
                 MIME type is provided in the Intent.  An Intent with a null
                 MIME type will never be matched by a filter with a set MIME
                 type, so we need a second intent-filter if we wish to also
                 match files with this extension and a non-null MIME type
                 (even if it is non-null but zero length).
            -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="*" />

                <data android:pathPattern=".*\\.etf" />
                <data android:pathPattern=".*\\.etfz" />
            </intent-filter>

            <!--
                 Capture file open requests (pathPattern is honoured) where a
                 (possibly blank) MIME type is provided in the Intent.  This
                 filter may only be necessary for supporting ES File Explorer,
                 which has the probably buggy behaviour of using an Intent
                 with a MIME type that is set but zero-length.  It's
                 impossible to match such a type except by using a global
                 wildcard.
            -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.etf" />
                <data android:pathPattern=".*\\.etfz" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.help.HelpActivity"
            android:exported="false"
            android:label="@string/activity_help_title"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.calibration.CalibrateActivity"
            android:exported="false"
            android:label="@string/activity_calibrate_title"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.tuning.TuningSettingsActivity"
            android:exported="false"
            android:label="@string/activity_tuning_file_settings_title"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.tuning.temperament.TuningTemperamentActivity"
            android:exported="false"
            android:label="@string/activity_tuning_temperament_title"
            android:parentActivityName=".ui.tuning.TuningSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.tuning.TuningSettingsActivity" />
        </activity>
        <activity
            android:name=".ui.tuning.temperament.LoadTuningTemperamentActivity"
            android:exported="false"
            android:label="@string/activity_load_tuning_temperament_title"
            android:parentActivityName=".ui.tuning.temperament.TuningTemperamentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.tuning.temperament.TuningTemperamentActivity" />
        </activity>
        <activity
            android:name=".ui.settings.GlobalSettingsActivity"
            android:exported="false"
            android:label="@string/activity_global_settings_title"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity android:name=".ui.settings.colors.ColorSchemeActivity"
            android:exported="false"
            android:label="@string/global_settings_color_scheme"
            android:parentActivityName=".ui.settings.GlobalSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.settings.GlobalSettingsActivity" />
        </activity>
        <activity
            android:name=".ui.settings.weights.AdjustWeightsActivity"
            android:exported="false"
            android:label="@string/activity_adjust_weights_title"
            android:parentActivityName=".ui.settings.GlobalSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.settings.GlobalSettingsActivity" />
        </activity>

        <activity
            android:name=".ui.settings.weights.list.LoadTuningStyleActivity"
            android:exported="false"
            android:label="@string/activity_load_tuning_style_title"
            android:parentActivityName=".ui.settings.weights.AdjustWeightsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.settings.weights.AdjustWeightsActivity" />
        </activity>

        <activity
            android:name=".ui.settings.backups.DropBoxBackupRestoreActivity"
            android:exported="false"
            android:label="@string/global_settings_backup_dropbox"
            android:parentActivityName=".ui.settings.GlobalSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.settings.GlobalSettingsActivity" />
        </activity>

        <activity
            android:name=".ui.upgrade.UpgradeActivity"
            android:exported="false"
            android:label="@string/activity_upgrade_title"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-ff8bouqacuzuw5w" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.willeypianotuning.toneanalyzer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- Disables WorkManager automatic default initialization -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <receiver
            android:name=".receivers.AppUpgradeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>